html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: white;
    height: 90px;
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #015c81;
}

#logo {
    width: 250px;
    vertical-align: -15px;
    margin-right: 10px;
}

#map {
    height: calc(100% - 90px);
}

.max-info-window-height {
    max-height: 230px;
    overflow: scroll;
}

.info-window-photo {
    float: left;
    margin-right: 12px;
}

.info-window-photo .default-photo {
    height: 96px;
    width: 96px;
}

.info-window-name-address {
    float: left;
}

.clearFloat {
    clear: both;
}

.camelCase {
    text-transform: capitalize;
}
